<div>
    <a href="<%= directoryList.path %>" class="FilePanel">
        <img src="/images/folder.png" class="FileImage">
        <p class="FileName">
            <%= directoryList.name %>
        </p>
    </a>
</div>