<div>

    <a href="<%= fileList.path %>" class="FilePanel">
        <img src="/images/file.png" class="FileImage">
        <p class="FileName">
            <%= fileList.name %>
        </p>
    </a>

</div>